<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alabhya.Shaktiman">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsumerUserManagement.ConsumerLandingActivity"
            android:parentActivityName=".ConsumerUserManagement.ConsumerLandingActivity" />
        <activity android:name=".ConsumerUserManagement.ConsumerSignUpActivity" />
        <activity android:name=".ConsumerUserManagement.ConsumerLoginActivity" />
        <activity android:name=".ProducersList.ProducerMasonActivity" />
        <activity android:name=".ProducerUserManagement.ProducerLandingActivity" />
        <activity android:name=".ProducerUserManagement.ProducerSignupActivity" />
        <activity
            android:name=".ConsumerMainView.ConsumerHomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ProducerMainView.ProducerHomeActivity"
            android:label="@string/title_activity_producer_home" />
        <activity android:name=".ProducersList.ProducerLabourActivity" />
        <activity android:name=".PlaceOrders.OrderPlaceActivity" />
        <activity android:name=".OrderDetails.ConsumerOrderFullDetailActivity" />
        <activity android:name=".OrderDetails.ProducerOrderFullDetailsActivity"></activity>
    </application>

</manifest>